In [1]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException,ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait as webwait
from selenium.webdriver.support import expected_conditions as EC
import time
import requests
import warnings
warnings.filterwarnings('ignore')

In [2]:
#opening automated chrome
driver=webdriver.Chrome()

Q1-- Scrape  the  
details  of  
most  viewed  videos  on  
YouTube  
from  Wikipedia.  
Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_v  You need to find following details: 
A) Rank
B) Name
C) Artist
D) Upload Date
E) Views
E) Views  E) Views

In [5]:
# searching for most  viewed  videos  on  YouTube from  Wikipedia
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [12]:
#scraping details of most viewed videos on youtube from wikipedia
name=[]
artist=[]
upload=[]
views=[]

# Name of the video
try:
    name_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
    for n in name_tag:
        name.append(re.sub('\[\d+\]|"','',n.text))

# Artist of the video
    art_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
    for a in art_tag:
        artist.append(a.text)

# upload date of the video
    date_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
    for d in date_tag:
        upload.append(d.text)

# Views on the video
    views_tag=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
    for v in views_tag:
        views.append(v.text)
        
except NoSuchElementException as err:
    print(err)

print(len(name),len(artist),len(upload),len(views))

30 30 30 30

In [13]:
# creating dataframe
df=pd.DataFrame({'Rank':range(1,31),'Name':name,'Artist':artist,'Upload DATE':upload,'Views(Billions)':views})
df

,Rank,Name,Artist,Upload DATE,Views(Billions)
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.52
1,2,Despacito,Luis Fonsi,"January 12, 2017",8.44
2,3,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.91
3,4,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018",6.70
4,5,See You Again,Wiz Khalifa,"April 6, 2015",6.27
5,6,Shape of You,Ed Sheeran,"January 30, 2017",6.26
6,7,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018",6.13
7,8,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.80
8,9,Uptown Funk,Mark Ronson,"November 19, 2014",5.23
9,10,Gangnam Style,Psy,"July 15, 2012",5.15
10,11,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",5.11
11,12,Dame Tu Cosita,Ultra Records,"April 5, 2018",4.63
12,13,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.58
13,14,Axel F,Crazy Frog,"June 16, 2009",4.54
14,15,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,"June 25, 2018",4.05
15,16,Sugar,Maroon 5,"January 14, 2015",4.05
16,17,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",4.04
17,18,Counting Stars,OneRepublic,"May 31, 2013",4.02
18,19,Roar,Katy Perry,"September 5, 2013",4.00
19,20,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.93
20,21,Shree Hanuman Chalisa,T-Series Bhakti Sagar,"May 10, 2011",3.84
21,22,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.81
22,23,Sorry,Justin Bieber,"October 22, 2015",3.80
23,24,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.77
24,25,Perfect,Ed Sheeran,"November 9, 2017",3.74
25,26,Dark Horse,Katy Perry,"February 20, 2014",3.72
26,27,Let Her Go,Passenger,"July 25, 2012",3.66
27,28,Faded,Alan Walker,"December 3, 2015",3.63
28,29,Girls Like You,Maroon 5,"May 31, 2018",3.61
29,30,Lean On,Major Lazer Official,"March 22, 2015",3.60

Q2 -- Scrape the details team India’s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [3]:
# opening mentioned url
driver.get('https://www.bcci.tv/')

In [4]:
# clicking on fixtures
fixture=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [6]:
#clicking on upcoming fixtures
upcoming=driver.find_element(By.XPATH,'//div[@class="tab-modify matchStatusFitler d-flex inactive"]/div[2]')
upcoming.click()

In [7]:
# Searching for upcoming fixture urls elements
u_element=driver.find_elements(By.XPATH,'//div[@class="match-card-bottom"]/a')
print(len(u_element))

17

In [8]:
# storing match urls
url=[]
for u in u_element:
    url.append(u.get_attribute('href'))

print(len(url))

17

In [10]:
# match details
match=[]
series=[]
place=[]
date=[]
tym=[]
 # storing match details by iterating each urls
for u in url:
    driver.get(u)
    time.sleep(10)

    # fixture 
    try:
        m_tag=driver.find_element(By.XPATH,'//div[@class="widget matchDetails hideMobOnly showForSpecialCase"]/div/ul/li[2]/span[2]')
        match.append(m_tag.text)
    except NoSuchElementException:
        match.append('-')

    # Series details of fixture
    try:
        s_tag=driver.find_element(By.XPATH,'//div[@class="widget matchDetails hideMobOnly showForSpecialCase"]/div/ul/li[1]/span[2]')
        series.append(s_tag.text)
    except NoSuchElementException:
        series.append('-')

    # Place of the fixture
    try:
        p_tag=driver.find_element(By.XPATH,'//div[@class="widget matchDetails hideMobOnly showForSpecialCase"]/div/ul/li[3]/span[2]')
        place.append(p_tag.text)
    except NoSuchElementException:
        place.append('-')

    # date of fixture
    try:
        d_tag=driver.find_element(By.XPATH,'//div[@class="scoreBox-bottom"]/div[1]')
        date.append(d_tag.text)
    except NoSuchElementException:
        date.append('-')

    # time of fixture
    try:
        t_tag=driver.find_element(By.XPATH,'//div[@class="scoreBox-bottom"]/div[2]')
        tym.append(t_tag.text)
    except NoSuchElementException:
        tym.append('-')

print(len(match),len(series),len(place),len(date),len(tym))

17 17 17 17 17

In [11]:
# Creating DataFrame
df=pd.DataFrame({'Match':match,'Series':series,'Place':place,'Date':date,'Time':tym})
df

,Match,Series,Place,Date,Time
0,Canada vs India,ICC Mens T20 World Cup 2024,"Central Broward Park & Broward County Stadium,...",15 JUN 2024,20:00 IST
1,India Women vs South Africa Women,South Africa Women Tour of India ODI Series 2024,M Chinnaswamy Stadium,16 JUN 2024,13:30 IST
2,India Women vs South Africa Women,South Africa Women Tour of India ODI Series 2024,M Chinnaswamy Stadium,19 JUN 2024,13:30 IST
3,India Women vs South Africa Women,South Africa Women Tour of India ODI Series 2024,M Chinnaswamy Stadium,23 JUN 2024,13:30 IST
4,India Women vs South Africa Women,South Africa Women Tour of India Test Series 2024,MA Chidambaram Stadium,28 JUN 2024,9:30 IST
5,India Women vs South Africa Women,South Africa Women Tour of India T20 Series 2024,MA Chidambaram Stadium,5 JUL 2024,19:00 IST
6,Zimbabwe vs India,India Tour of Zimbabwe T20I Series 2024,Harare Sports Club,6 JUL 2024,20:00 IST
7,India Women vs South Africa Women,South Africa Women Tour of India T20 Series 2024,MA Chidambaram Stadium,7 JUL 2024,19:00 IST
8,Zimbabwe vs India,India Tour of Zimbabwe T20I Series 2024,Harare Sports Club,7 JUL 2024,20:00 IST
9,India Women vs South Africa Women,South Africa Women Tour of India T20 Series 2024,MA Chidambaram Stadium,9 JUL 2024,19:00 IST
10,Zimbabwe vs India,India Tour of Zimbabwe T20I Series 2024,Harare Sports Club,10 JUL 2024,20:00 IST
11,Zimbabwe vs India,India Tour of Zimbabwe T20I Series 2024,Harare Sports Club,13 JUL 2024,20:00 IST
12,Zimbabwe vs India,India Tour of Zimbabwe T20I Series 2024,Harare Sports Club,14 JUL 2024,20:00 IST
13,India Women vs New Zealand Women,ICC Womens T20 World Cup 2024,Sylhet International Cricket Stadium,4 OCT 2024,18:30 IST
14,India Women vs Pakistan Women,ICC Womens T20 World Cup 2024,Sylhet International Cricket Stadium,6 OCT 2024,18:30 IST
15,India Women vs Qualifier-1,ICC Womens T20 World Cup 2024,Sylhet International Cricket Stadium,9 OCT 2024,18:30 IST
16,India Women vs Australia Women,ICC Womens T20 World Cup 2024,Sylhet International Cricket Stadium,13 OCT 2024,18:30 IST

Q3 Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   
B) State   
C) GSDP(21-22)- at current prices   
D) GSDP(22-23)- at current prices   
E) Share(21-22)   
F) GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page through code.

In [132]:
# searching for mentioned url
driver.get('https://statisticstimes.com/')

In [133]:
# going on indian economy page
eco=driver.find_element(By.XPATH,'//div[@class="navbar"]/div[2]/div/a[3]')
driver.get(eco.get_attribute('href'))

In [135]:
# GDP of indian states page
states=driver.find_element(By.XPATH,'//ul[@style="list-style-type:none;margin-left:20px;"]/li[1]/a')
driver.get(states.get_attribute('href'))

In [148]:
# Scraping indian states gdp details
rank=[]
name=[]
g21_22=[]
g22_23=[]
share=[]
gdp=[]

# Rank of the state
r_tag=driver.find_elements(By.XPATH,'//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
for r in r_tag:
    rank.append(r.text)

# Name of the State
st_tag=driver.find_elements(By.XPATH,'//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
for st in st_tag:
    name.append(st.text)

# GSDP (Cr INR at Current prices) 21-22 of the state
g1_tag=driver.find_elements(By.XPATH,'//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
for g in g1_tag:
    g21_22.append(g.text)

# GSDP (Cr INR at Current prices) 22-23 of the states
g2_tag=driver.find_elements(By.XPATH,'//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
for p in g2_tag:
    g22_23.append(p.text)

# Share 21-22 of the state
sh_tag=driver.find_elements(By.XPATH,'//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
for sh in sh_tag:
    share.append(sh.text)

#  GDP ($billion) of the state
gd_tag=driver.find_elements(By.XPATH,'//div[@id="header"]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[7]')
for gd in gd_tag:
    gdp.append(gd.text)

print(len(rank),len(name),len(g21_22),len(g22_23),len(share),len(gdp))

33 33 33 33 33 33

In [149]:
# Creating dataFrame
df=pd.DataFrame({'Rank':rank,
                'State':name,
                'GSDP (Cr INR at Current prices) 21-22':g21_22,
                'GSDP (Cr INR at Current prices) 22-23':g22_23,
                'Share(21-22)':share,
                'GDP($ billion)':gdp})
df

,Rank,State,GSDP (Cr INR at Current prices) 21-22,GSDP (Cr INR at Current prices) 22-23,Share(21-22),GDP($ billion)
0,1,Maharashtra,"3,108,022",-,13.17%,414.928
1,2,Tamil Nadu,"2,071,286","2,364,514",8.78%,276.522
2,3,Karnataka,"1,978,094","2,269,995",8.38%,264.080
3,4,Uttar Pradesh,"1,975,595","2,258,040",8.37%,263.747
4,5,Gujarat,"1,928,683","2,230,609",8.17%,257.484
5,6,West Bengal,"1,329,238","1,531,758",5.63%,177.456
6,7,Rajasthan,"1,193,489","1,365,849",5.06%,159.334
7,8,Andhra Pradesh,"1,148,471","1,303,524",4.87%,153.324
8,9,Telangana,"1,124,204","1,308,034",4.76%,150.084
9,10,Madhya Pradesh,"1,092,964","1,246,471",4.63%,145.913
10,11,Kerala,"934,542","1,046,188",3.96%,124.764
11,12,Delhi,"881,336","1,014,688",3.73%,117.660
12,13,Haryana,"868,905","984,055",3.68%,116.001
13,14,Odisha,"662,886","753,177",2.81%,88.497
14,15,Bihar,"650,302","751,396",2.76%,86.817
15,16,Punjab,"617,192","676,164",2.62%,82.397
16,17,Assam,"411,454","493,167",1.74%,54.930
17,18,Chhattisgarh,"410,525","464,399",1.74%,54.806
18,19,Jharkhand,"358,863","393,722",1.52%,47.909
19,20,Uttarakhand,"267,143","303,781",1.13%,35.664
20,21,Jammu & Kashmir,"193,352","224,226",0.82%,25.813
21,22,Himachal Pradesh,"172,162","191,728",0.73%,22.984
22,23,Goa,"84,266","93,672",0.36%,11.250
23,24,Tripura,"62,550","72,636",0.27%,8.351
24,25,Chandigarh,"46,096","54,285",0.20%,6.154
25,26,Puducherry,"43,810","49,643",0.19%,5.849
26,27,Meghalaya,"38,785","42,697",0.16%,5.178
27,28,Sikkim,"37,557","42,756",0.16%,5.014
28,29,Manipur,"36,594",-,0.16%,4.885
29,30,Arunachal Pradesh,"34,775","39,630",0.15%,4.643
30,31,Nagaland,"31,038","35,643",0.13%,4.144
31,32,Mizoram,"27,824",-,0.12%,3.715
32,33,Andaman & Nicobar Islands,"10,371",-,0.04%,1.385

Q4 Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used  
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [123]:
# Searching github
driver.get('https://github.com/')

In [127]:
# clicking on open source
open=driver.find_element(By.XPATH,'//nav[@class="mt-0 px-3 px-lg-0 mb-3 mb-lg-0"]/ul/li[3]/button')
open.click()

In [128]:
# clicking on trending repositoties
d=open.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
d.click()

In [129]:
# Searching for url elements
urr=driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]/a')
# storing url
url=[]
for r in urr:
    url.append(r.get_attribute('href'))

print(len(url))

14

In [130]:
# scraping mentioned details from repositories
n=[]
l=[]
co=[]
des=[]
for u in url:
    driver.get(u)
    time.sleep(5)

    # Name of the repository
    try:
        nam=driver.find_element(By.XPATH,'//strong[@class="mr-2 flex-self-stretch"]/a')
        n.append(nam.text)
    except NoSuchElementException:
        n.append('-')
        
    # Language used in repository
    try:
        lan=driver.find_element(By.XPATH,'//div[@class="BorderGrid about-margin"]/div[6]/div/ul')
        l.append(re.sub('\d.+%','',lan.text).replace('\n',','))
    except NoSuchElementException:
        l.append('-')
        
    #  Contributors count of the repository
    try:
        c=driver.find_element(By.XPATH,'//div[@class="BorderGrid about-margin"]/div[5]/div/h2/a/span')
        co.append(c.get_attribute('title'))
    except NoSuchElementException:
        co.append('-')
        
    # Repository Description
    try:
        d=driver.find_element(By.XPATH,'//div[@class="hide-sm hide-md"]/p')
        des.append(d.text)
    except NoSuchElementException:
        des.append('-')

print(len(n),len(l),len(co),len(des))

14 14 14 14

In [131]:
# Creating dataframe
df=pd.DataFrame({'Repository title':n,'Repository description':des,'Contributors count':co,'Language used':l})
df

,Repository title,Repository description,Contributors count,Language used
0,immich,High performance self-hosted photo and video m...,432,"TypeScript,,Dart,,Svelte,,Python,,Swift,,Kotli..."
1,mistral.rs,Blazingly fast LLM inference.,14,"Rust,,Python,,Other,"
2,CyberChef,The Cyber Swiss Army Knife - a web app for enc...,145,"JavaScript,,HTML,,CSS,"
3,diffusers,🤗 Diffusers: State-of-the-art diffusion models...,723,"Python,,Other,"
4,ARC-AGI,The Abstraction and Reasoning Corpus,20,"JavaScript,,HTML,,CSS,"
5,Warp,"Warp is a modern, Rust-based terminal with AI ...",-,-
6,LazyVim,Neovim config for the lazy,-,-
7,build-your-own-x,Master programming by recreating your favorite...,117,-
8,gravitino,World's most powerful open data catalog for bu...,80,"Java,,JavaScript,,Python,,Shell,,TypeScript,,D..."
9,gs-quant,Python toolkit for quantitative finance,21,"Jupyter Notebook,,Python,"
10,solana-program-library,A collection of Solana programs maintained by ...,220,"Rust,,TypeScript,,Python,,C++,,Shell,,JavaScri..."
11,public-image-mirror,很多镜像都在国外。比如 gcr 。国内下载很慢，需要加速。,48,"Shell,"
12,GroundingDINO,"Official implementation of the paper ""Groundin...",25,"Python,,Cuda,,C++,,Other,"
13,playwright,Playwright is a framework for Web Testing and ...,-,-

Q5 -- Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board   
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [6]:
# serching mentioned website
driver.get('https://www.billboard.com/')

In [7]:
# Clicking on Billboard hot 100
b100=driver.find_element(By.XPATH,'//ul[@class="o-nav__list lrv-a-unstyle-list lrv-u-flex lrv-u-justify-content-center lrv-a-space-children-horizontal a-space-children--60@custom lrv-u-justify-content-space-evenly@desktop lrv-u-font-size-15 u-letter-spacing-0043 a-font-primary-medium-s u-display-none@mobile-max"]/li[1]/a')
b100.click()

In [21]:
# Scraping details of billboard's hot 100
song=[]
artist=[]
lwr=[]
p_r=[]
wob=[]

# Name of the song
song_tag=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li/h3')
for s in song_tag:
    song.append(s.text)

# artist name 
art=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[1]/span')
for a in art:
    artist.append(a.text)

# Last Week Rank
last=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[4]')
for l in last:
    lwr.append(l.text)

# Peak Rank
peak=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[5]')
for p in peak:
    p_r.append(p.text)

# Weeks on board
week=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]/li[6]')
for w in week:
    wob.append(w.text)

print(len(song),len(artist),len(lwr),len(p_r),len(wob))

100 100 100 100 100

In [22]:
# creating dataframe
df=pd.DataFrame({'Song name':song,'Artist name':artist,'Last week rank':lwr,'Peak rank':p_r,'Weeks on board':wob})
df

,Song name,Artist name,Last week rank,Peak rank,Weeks on board
0,I Had Some Help,Post Malone Featuring Morgan Wallen,1,1,4
1,Houdini,Eminem,-,2,1
2,Million Dollar Baby,Tommy Richman,3,2,6
3,A Bar Song (Tipsy),Shaboozey,4,3,8
4,Not Like Us,Kendrick Lamar,2,1,5
...,...,...,...,...,...
95,Wine Into Whiskey,Tucker Wetmore,90,77,11
96,Heat Stick,Shoreline Mafia Presents OhGeesy & Fenix Flexin,97,97,3
97,Let Your Boys Be Country,Jason Aldean,-,98,1
98,Tu Name,Fuerza Regida,100,66,14
99,loml,Taylor Swift,92,12,7

Q6 Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre   
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [23]:
# searching mentioned url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [34]:
# scraping details of highest selling novels
book=[]
author=[]
sold=[]
publisher=[]
genre=[]
# Name of the book
bn=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for b in bn:
    book.append(b.text)

# Author of the book
an=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for a in an:
    author.append(a.text)

# Book's total Volumes sold
vs=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for v in vs:
    sold.append(v.text)

# Publisher of the book
p_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for p in p_tag:
    publisher.append(p.text)

# Genre of the book
g_tag=driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for g in g_tag:
    genre.append(g.text)

print(len(book),len(author),len(sold),len(publisher),len(genre))

100 100 100 100 100

In [35]:
# Craeting DataFrame
df=pd.DataFrame({'Book name':book,'Author name':author,'Volumes sold':sold,'Publisher':publisher,'Genre':genre})
df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

Q7 Scrape the details most watched tv series of all time from imdb.com.   
Url =https://www.imdb.com/list/ls512407256// You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [12]:
# Searching mentioned url
driver.get('https://www.imdb.com/list/ls512407256/')

In [13]:
# Scrolling down to store all 200 url elements
for _ in range(2000):
    driver.execute_script("window.scrollBy(0,200)")
    ur=driver.find_elements(By.XPATH,'//div[@class="ipc-title ipc-title--base ipc-title--title ipc-title-link-no-icon ipc-title--on-textPrimary sc-b189961a-9 iALATN dli-title"]/a')

print(len(ur))

200

In [14]:
# storing url
url=[]
for u in ur: #iterating each url elements to find urls
    url.append(u.get_attribute('href')) # Storing urls

print(len(url))

200

In [16]:
# Scaraping Mentioned Details of the tv shows
name=[]
genre=[]
span=[]
rt=[]
rating=[]
vote=[]
for r in url: # Iterating url list
    driver.get(r) # Searching each url to scrape data
    time.sleep(15) # Stopping webdriver for 5 sec to scrape data from each url

    # Name of the TV show
    try:
        name_tag=driver.find_element(By.XPATH,'//span[@class="hero__primary-text"]')
        name.append(name_tag.text)
    except NoSuchElementException:
        name.append('-')

    # Genre of the show
    try:
        genre_tag=driver.find_element(By.XPATH,'//div[@class="ipc-chip-list__scroller"]')
        genre.append(genre_tag.text.replace('\n',','))
    except NoSuchElementException:
        genre.append('-')


    # Year Span of show
    try:
        span_tag=driver.find_element(By.XPATH,'//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-d8941411-2 cdJsTz baseAlt"]/li[2]/a')
        span.append(span_tag.text)
    except NoSuchElementException:
        span.append('-')

    # Run Time Of shows each episodes
    try:
        rt_tag=driver.find_element(By.XPATH,'//ul[@class="ipc-inline-list ipc-inline-list--show-dividers sc-d8941411-2 cdJsTz baseAlt"]/li[4]')
        rt.append(rt_tag.text)
    except NoSuchElementException:
        rt.append('-')

    # Rating of show
    try:
        rating_tag=driver.find_element(By.XPATH,'//div[@class="sc-3a4309f8-0 bjXIAP sc-b7c53eda-5 cxlubq"]/div/div[1]/a/span/div/div[2]/div[1]/span[1]')
        rating.append(rating_tag.text)
    except NoSuchElementException:
        rating.append('-')

    # Total Votes the show got
    try:
        vote_tag=driver.find_element(By.XPATH,'//div[@class="sc-3a4309f8-0 bjXIAP sc-b7c53eda-5 cxlubq"]/div/div[1]/a/span/div/div[2]/div[3]')
        vote.append(vote_tag.text)
    except NoSuchElementException:
        vote.append('-')

print(len(name),len(genre),len(span),len(rt),len(rating),len(vote))

200 200 200 200 200 200

In [17]:
# Creating DataFrame
df=pd.DataFrame({'Name':name,'Year Span':span,'Genre':genre,'RunTime':rt,'Ratings':rating,'Votes':vote})
df

,Name,Year Span,Genre,RunTime,Ratings,Votes
0,Game of Thrones,2011–2019,"Action,Adventure,Drama",1h,9.2,2.3M
1,Stranger Things,2016–2025,"Drama,Fantasy,Horror",1h,8.7,1.3M
2,The Walking Dead,2010–2022,"Drama,Horror,Thriller",45m,8.1,1.1M
3,13 Reasons Why,2017–2020,"Drama,Mystery,Thriller",1h,7.5,317K
4,The 100,2014–2020,"Drama,Mystery,Sci-Fi",43m,7.6,278K
...,...,...,...,...,...,...
195,Reign,2013–2017,Drama,42m,,
196,A Series of Unfortunate Events,2017–2019,"Adventure,Comedy,Drama",55m,,
197,Criminal Minds,2005–,"Crime,Drama,Mystery",42m,,
198,Scream: The TV Series,2015–2019,"Comedy,Crime,Drama",45m,,
199,The Haunting of Hill House,2018,"Drama,Horror,Mystery",1h,,

Q8 Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute G) Year   
Note: - from the home page you have to go to the Show All Dataset page through code.

In [63]:
# Searching mentioned url
driver.get('https://archive.ics.uci.edu/')

In [64]:
# Clicking on element to show all datasets
datasets=driver.find_element(By.XPATH,'//div[@class="flex flex-wrap justify-center gap-5"]/a[1]')
datasets.click()

In [67]:
# Scraping dataset urls from 10 pages
url=[]
for i in range(0,10):
    ur=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]/a')
    for u in ur:
        url.append(u.get_attribute('href'))
        
    next=driver.find_element(By.XPATH,'//div[@class="btn-group"]/button[2]')
    next.click()
    time.sleep(3)

print(len(url))

100

In [72]:
# Scraping datsets details
name=[]
task=[]
dtype=[]
no_inst=[]
no_attr=[]
attr_type=[]
year=[]

#iterating urls
for u in url:
    driver.get(u)
    time.sleep(10) # Wait of 10 seconds
    # name of datsaet
    try: 
        n=driver.find_element(By.XPATH,'//h1[@class="text-3xl font-semibold text-primary-content"]')
        name.append(n.text)
    except NoSuchElementException:
        name.append('-')
        
    # task of dataset
    try:
        t=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[3]/p')
        task.append(t.text)
    except NoSuchElementException:
        task.append('-')

    # Datatype of datasets
    try:
        dt=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[1]/p')
        dtype.append(dt.text)
    except NoSuchElementException:
        dtype.append('-')

    # No. of instances
    try:
        i=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[5]/p')
        no_inst.append(i.text)
    except NosuchElementException:
        no_inst.append('-')

    # No of attributes
    try:
        a=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[6]/p')
        no_attr.append(a.text)
    except NoSuchElementException:
        no_attr.append('-')

    # Attribute type
    try:
        at=driver.find_element(By.XPATH,'//div[@class="grid grid-cols-8 gap-4 md:grid-cols-12"]/div[4]/p')
        attr_type.append(at.text)
    except NoSuchElementException:
        attr_type.append('-')

   # Dataset Year
    try:
        y=driver.find_element(By.XPATH,'//h2[@class="text-sm text-primary-content"]')
        year.append(re.search('\d{4}',y.text).group())
    except NoSuchElementException:
        year.append('-')


print(len(name),len(task),len(dtype),len(no_inst),len(no_attr),len(attr_type),len(year))

100 100 100 100 100 100 100

In [73]:
# Creating DataFrame
df=pd.DataFrame({'Dataset name':name,'Data Type':dtype,'Task':task,'Attribute Type':attr_type,'No of Instances':no_inst,'No of Attribute':no_attr,'Year':year})
df

,Dataset name,Data Type,Task,Attribute Type,No of Instances,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,1988
1,Dry Bean,Multivariate,Classification,"Integer, Real",13611,16,2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,2019
4,Raisin,Multivariate,Classification,"Real, Integer",900,7,2023
...,...,...,...,...,...,...,...
95,Statlog (Landsat Satellite),Multivariate,Classification,Integer,6435,36,1993
96,National Poll on Healthy Aging (NPHA),Tabular,Classification,Categorical,714,14,2023
97,Insurance Company Benchmark (COIL 2000),Multivariate,"Regression, Description","Categorical, Integer",9000,-,2000
98,Statlog (Shuttle),Multivariate,Classification,Integer,58000,7,-
99,Drug Consumption (Quantified),Multivariate,Classification,Real,1885,12,2016